* {
  font-family: system-ui;
}

body {
  background: #151a23;
  width: 100%;
  height: 100vh;
}

header {
  height: 80px;
  background: #1f2532;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
}

.header-nav {
  display: flex;
  gap: 20px;
}

main {
  padding: 10% 20%;
}

footer {
  background: #1f2532;
  padding: 2% 20%;
}

.home-main-title {
  margin-top: 0;
  margin-bottom: 10px;
}
